.Skills{
    color: #fff;
    font-size: 48px;
    margin: 0;
    margin-left: 150px;
    margin-top: 15px;
    font-family: 'Coolvetica';
    font-weight: 400;
}
.Cloud-container {
    z-index: 0;
    width: 265px; /* Adjust the size of the circle container */
    height: 265px; /* Adjust the size of the circle container */
    position: absolute;
    top: 0;
    right: -40%;
    border-radius: 50%; /* Make the container circular */
    transform: translateX(50%); /* Center the container horizontally */
    /* Add a simple scale animation */
    animation: scale-animation 3s infinite alternate ease-in-out;
    
  }

  .photo {
    /* Adjust the image size as needed */
    /* Rotate the image to make the headshot look upright */
    transform: rotate(37deg); /* Replace X with the desired rotation angle */
  }
  
