/* .Skills {
  color: #ffd700;
  font-size: 48px;
  margin: 0;
  margin-left: 150px;
  margin-top: 15px;
  font-family: "Coolvetica";
  font-weight: 400;
} */
.Cloud-container {
  width: 265px; /* Adjust the size of the circle container */
  height: 265px; /* Adjust the size of the circle container */
  justify-content: center;
  border-radius: 50%; /* Make the container circular */
  transform: translateX(50%); /* Center the container horizontally */
  /* Add a simple scale animation */
  animation: scale-animation 3s infinite alternate ease-in-out;
}
